.flex.flex-col{data: {controller: 'top'}}
  %h2.text-gray-900.text-lg.font-medium.title-font.mb-5 Sign Up
  .relative.mb-4
    %label.leading-7.text-sm.text-gray-600{for: "full-name"} Full Name
    %input#full-name.w-full.bg-white.rounded.border.border-gray-300.focus:border-indigo-500.focus:ring-2.focus:ring-indigo-200.text-base.outline-none.text-gray-700.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out{:name => "full-name", :type => "text"}/
  .relative.mb-4
    %label.leading-7.text-sm.text-gray-600{for: "email"} Email
    %input#email.w-full.bg-white.rounded.border.border-gray-300.focus:border-indigo-500.focus:ring-2.focus:ring-indigo-200.text-base.outline-none.text-gray-700.py-1.px-3.leading-8.transition-colors.duration-200.ease-in-out{:name => "email", :type => "email"}/
  %button.text-white.bg-indigo-500.border-0.py-2.px-8.focus:outline-none.hover:bg-indigo-600.rounded.text-lg.disabled:opacity-75{disabled: true} Register
  %p.text-xs.text-gray-500.mt-3{"data-top-target": 'output'}