%nav.hidden.w-fit.flex-none.bg-gray-700.text-white.w-80.px-4.py-10.space-y-10{ class: 'lg:block' }
  .space-y-6
    = link_to new_users_email_change_path, data: { turbo: :false }, class: 'flex gap-2 items-center p-2 rounded-lg hover:bg-gray-300' do
      %svg.w-6.h-6.fill-none{fill: 'none', stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
        = render 'svgs/at_symbol'
      %span
        メールアドレス変更
    = link_to users_session_path, data: { turbo_method: :delete }, class: 'flex gap-2 items-center p-2 rounded-lg hover:bg-gray-300' do
      %svg.w-6.h-6.fill-none{fill: 'none', stroke: "currentColor", "stroke-width" => "1.5", viewbox: "0 0 24 24", xmlns: "http://www.w3.org/2000/svg"}
        = render 'svgs/arrow_left_on_rectangle'
      %span
        ログアウト
