.min-h-screen.flex.items-center
  .px-4.space-y-10.text-center.w-full
    %h1.text-2xl.font-bold
      再設定メールをお送りしました
    %p.text-left
      ご登録のメールアドレスにパスワードの再設定用メールを送信しました。
      %br
      メールに記載されているURLにアクセスし、パスワードの再設定手続きを進めてください。

