= turbo_stream.replace @cat do
  = render CatCard::Component.new(cat: @cat)
= turbo_stream.update :toasts do
  - flash.each do |key, value|
    = render Toast::Component.new(type: key.to_sym, message: value)